@import "vars";

.up-about {
  a {
    color: $color-primary;
    text-decoration: underline;
  }

  h4 {
    margin: 88px auto;
    max-width: 50%;

    small {
      font-size: 1rem;
    }
  }

  .parallax img {
    filter: grayscale(0.5);
  }

  .up-parallax-logo img {
    min-width: 90%;
    min-height: 50%;
  }
}

.up-founder-quote {
  flex-wrap: wrap;

  .up-dim {
    font-size: 0.9rem;
    margin-top: 4px;
  }
}

.up-founder-avatar {
  width: 225px;
  min-width: 225px;
  display: flex;
  align-items: center;
}

.up-avatar--about {
  display: flex;
  align-items: center;
  margin-bottom: $padding-std;

  .up-avatar {
    width: 50px;
    height: 50px;
    margin-bottom: 6px;
    margin-right: $padding-std;
  }
}

#ayy {
  position: absolute;
  left: 0px;
  top: 43px;
  width: 100%;
  height: calc(100% - 44px);
}
