@import "vars";

.up-about {
  a {
    color: $color-primary;
    text-decoration: underline;
  }

  h4 {
    margin: 88px auto;
    max-width: 50%;

    small {
      font-size: 1rem;
    }
  }

  .parallax img {
    filter: grayscale(0.5);
  }

  .up-parallax-logo img {
    min-width: 90%;
    min-height: 50%;
  }
}

#ayy {
  position: absolute;
  left: 0px;
  top: 43px;
  width: 100%;
  height: calc(100% - 44px);
}
