.up-alert {
  min-width: 150px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(#000, .12), 0 1px 2px rgba(#000, .24) ;

  &:hover {
    box-shadow: 0 3px 6px rgba(#000, .16), 0 3px 6px rgba(#000, .23) ;
  }

  &-success {
    background-color: lighten(#5cb85c, 15%);
    border-color: lighten(#5cb85c, 10%);
    color: darken(#5cb85c, 15%);
  }

  &-warning {
    background-color: lighten(#E2A41F, 15%);
    border-color: lighten(#E2A41F, 10%);
    color: darken(#E2A41F, 15%);
  }

  &-danger {
    background-color: lighten(#d43f3a, 15%);
    border-color: lighten(#d43f3a, 10%);
    color: darken(#d43f3a, 15%);
  }

  p {
    padding: 0;
    margin: 0;
  }

  i {
    padding-right: 5px;
    vertical-align: middle;
    font-size: 24px;
  }
}
