@import "vars";
@import "mixins";

.card-title {
  margin-top: 0;
  height: 62px;
  max-height: 62px;
  overflow: hidden;
}

.up-playlist-card {
  .card-image {
    height: 158px;
  }

  .up-card-image {
    height: 158px;
    display: block;
    background-size: cover;
  }

  small {
    display: block;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
}

.up-event-card {
  overflow: hidden;

  .card-image {
    height: 88px;
    width: 128px;
    min-width: 128px;

    img {
      height: 100%;
      width: 100% !important;
    }
  }

  .card-title {
    height: 32px;
    overflow: hidden;
  }

  .card-content {
    padding: ($padding-std * 2) 24px;
  }
}

.up-room-card {
  .card-title {
    height: auto;
  }

  .up-card-image {
    height: 280px;
    display: block;
    background-size: cover;
  }
}

.up-room-card__user-count {
  display: flex;
  align-items: center;

  .material-icons {
    margin-right: $padding-std;
  }

  span {
    font-size: 20px;
  }
}

.up-card--search-results {
  max-width: 300px;
  background-color: $card-bg-color !important;

  .up-card__media {
    width: 100%;
    height: 140px;
    margin-bottom: $padding-std;
    position: relative;

    button {
      width: 36px;
      height: 36px;
      color: #FFF;
      position: absolute;
      bottom: -18px;
      right: 18px;
      background-color: $color-primary !important;
    }
  }

  .up-card__content {
    padding: ($padding-std * 2) $padding-std !important;
  }

  h2 {
    overflow: hidden;
    margin-bottom: $padding-std;
    max-height: 0.8rem;
    font-size: 0.9rem !important;
    line-height: 0.9rem !important;
  }
}
