@import "vars";

.up-dialog {

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  ul {
    margin: $padding-std 0;
  }
}

.up-dialog-search-results {
  flex: 1 1 auto;
  overflow: hidden;
  padding: ($padding-std * 2);
  display: flex;
  flex-direction: column;
}

.up-dialog-search-results__form {
  padding-bottom: ($padding-std * 2);

  .up-form-control {
    margin-top: 0 !important;
    width: 100%;
  }
}

.up-dialog-search-results__grid {
  width: 100% !important;
}

.up-dialog-search-results__content {
  display: flex;
  overflow: hidden;
  padding: 0 !important;
}

.up-dialog--wide {

  & > div:nth-child(2) {
    width: 80% !important;
    max-width: 80% !important;
    height: 80% !important;

    & > div {
      min-height: 100%;
    }
  }
}

.up-snackbar > div {
  color: #FFF;
  background-color: $card-bg-color;
}

.up-snackbar--error > div {
  background-color: $color-error;
}

.up-snackbar__message {
  display: flex;
  align-items: center;

  .up-icon {
    margin-right: $padding-std * 2;
  }
}
