@import "vars";

.up-drawer {
  color: #FFF;
  width: $drawer-width;
  background-color: #424242;

  li > a {
    color: #FFF;
    padding: 0 16px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;

    & > i.material-icons {
      color: #FFF;
      margin: 0 16px 0 0;
    }
  }

  .divider {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.12);
  }
}

.up-drawer__controls {
  border-top: 1px solid #585858;
  min-height: 76px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  text-align: center;
  color: $color-dim;
  font-size: 0.9rem;
  padding: $padding-std;
  flex-direction: column;
  justify-content: center;

  .SocialMediaShareButton {
    outline: 0;
    cursor: pointer;
    display: inline-block;
    padding-bottom: $padding-std;
    padding-right: $padding-std;
  }
}
