@import "vars";

.up-drawer {
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  margin-right: auto;

  &.up-opened {
    width: $drawer-width;

    nav {
      margin-left: 0;
    }
  }
}

.up-drawer__overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  position: absolute;
  transition: all 200ms ease-in;
  transition-duration: .5s;
}

.up-drawer.up-opened .up-drawer__overlay {
  z-index: 1;
  opacity: 0.5;
  background: #111;
  visibility: visible;
  pointer-events: auto;
}

.up-drawer nav {
  top: 0;
  left: 0;
  z-index: 2;
  margin: 0 0 0 -250px;
  position: fixed;
  width: $drawer-width;
  height: 100%;
  background: #424242;
  transition: all 200ms ease-in;

  ul {
    padding: 0;
    margin: 0;
    width: 250px;
    height: 100%;
    list-style: none;
    overflow: hidden;
  }
}

.up-drawer__item {
  color: #FFF;
  display: flex;
  position: relative;
  align-items: center;
  padding: 12px 16px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 24px;
  text-decoration: none;

  &:hover,
  &.up-active {
    background-color: rgba(255, 255, 255, 0.12);
  }

  span {
    flex: none;
    padding: 0 16px;
  }
}

.up-drawer__divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.up-drawer__controls {
  border-top: 1px solid #585858;
  min-height: 76px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  text-align: center;
  color: $color-dim;
  font-size: 0.9rem;
  padding: $padding-std;
  flex-direction: column;
  justify-content: center;


  .SocialMediaShareButton {
    outline: 0;
    cursor: pointer;
    display: inline-block;
    padding-bottom: $padding-std;
    padding-right: $padding-std;
  }
}
