@import "vars";

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #FFF !important;
  -webkit-box-shadow: 0 0 0 30px $card-bg-color inset !important;
}

.card {
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-text-fill-color: #FFF !important;
    -webkit-box-shadow: 0 0 0 30px $card-bg-color inset !important;
  }
}
