@import "vars";
@import "mixins";

.up-grid {
  display: flex;

  @include media-sm {
    display: block;
  }

  .up-col {
    flex: 1;

    @include media-sm {
      width: 100%;
    }
  }
}

.up-grid--gutter {
  margin-bottom: $padding-std;

  .up-col {
    margin: 0 $padding-std;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    @include media-sm {
      margin: 0 0;
    }
  }
}

