@import "vars";
@import "mixins";

.up-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  @include media-sm {
    display: block;
  }

  .up-col {
    flex: 1 0 100%;
    max-width: 100%;

    @include media-xs {
      flex: 1 0 100% !important;
      max-width: 100% !important;
    }

    &.up-col-2 {
      flex: 1 0 50%;
      max-width: 50%;
    }

    &.up-col-3 {
      flex: 1 0 25%;
      max-width: 25%;
    }

    &.up-col-4 {
      flex: 1 0 33%;
      max-width: 33%;
    }

    &.up-col-6 {
      flex: 1 0 16%;
      max-width: 16%;
    }
  }
}

.up-grid--gutter {
  margin-bottom: $padding-std / 2;

  .up-col {
    margin: 0 $padding-std / 2;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    @include media-sm {
      margin: 0 0;
    }
  }
}

