@import "vars";
@import "mixins";

body, html, #mount, #mount > div {
  height: 100%;
}

body {
  color: $color-fg;
  background: $color-bg;
  font-family: 'Roboto', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  color: #FFF;
  cursor: pointer;
}

.up-container--narrow {
  max-width: $break-sm;
}

.up-main {
  flex: 1 0 auto;
}

.up-construction {
  height: 100% !important;

  img {
    max-width: 90%;
  }

  p {
    margin-bottom: 0.5rem;
  }
}

.up-page-title {
  padding: ($padding-std * 2) 0 (($padding-std * 2) - 6px) 0;
  font-size: 24px;
  font-weight: 300;

  @include media-xs {
    font-size: 16px;
  }
}

.up-progress {
  position: absolute;
  top: $nav-height;
  left: 0;
  width: 100%;
  z-index: 4;
}
