@import "vars";

body, html, #mount, #mount > div {
  height: 100%;
}

body {
  color: $color-fg;
  background: $color-bg;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #FFF;
  cursor: pointer;
}

.up-container {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 $padding-std;
  text-align: left;
}

.up-container--narrow {
  @extend .up-container;
  max-width: $break-sm;
}

.up-construction {
  height: 100% !important;

  img {
    max-width: 90%;
  }

  p {
    margin-bottom: 0.5rem;
  }
}
