@import "vars";

body, html, #mount, #mount > div {
  height: 100%;
}

body {
    color: $color-fg;
    background: $color-bg;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #FFF;
}

.up-container {
  width: 100%;
  max-width: $break-xl;
  margin: 0 auto;
  padding: 0 $padding-std;
  text-align: left;
}

.up-construction {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  img {
    max-width: 90%;
  }
}
