@import "vars";
@import "mixins";

body, html, #mount, #mount > div {
  height: 100%;
}

body {
  color: $color-fg;
  background: $color-bg;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #FFF;
  cursor: pointer;
}

.up-container--narrow {
  max-width: $break-sm;
}

.up-construction {
  height: 100% !important;

  img {
    max-width: 90%;
  }

  p {
    margin-bottom: 0.5rem;
  }
}

.up-progress {
  position: absolute;
  top: $nav-height;
  left: 0;
  width: 100%;
  z-index: 4;
}
