@import "vars";

body, html, #mount, #mount > div {
  height: 100%;
}

body {
    color: $color-fg;
    background: $color-bg;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #FFF;
}
