@import "vars";

.up-nav {
  color: #FFF !important;
  height: $nav-height !important;
  min-height: $nav-height !important;
  padding: $padding-std !important;
  background-color: #263238 !important;
  display: flex;
  position: relative;
  align-items: center;
}

.up-brand {
  margin-top: 8px;
  margin-left: 4px;
  cursor: pointer;

  img {
    height: 19px;
  }
}

.up-nav__toggle {
  border: 0;
  outline: 0;
  color: #FFF;
  background-color: transparent;
}

.up-btn-login {
  margin-left: auto;
}

.up-drawer {
  width: 250px;
  flex: initial;

  ul li div {
    flex: none;
  }
}
