@import "vars";

.up-nav {
    color: #FFF !important;
    height: 42px !important;
    min-height: 42px !important;
    padding: $padding-std !important;
    background-color: #000 !important;
}

.up-brand {
  display: none;
  margin-top: 8px;
  margin-left: 4px;

  @media (min-width: 370px) {
    display: block;
  }
  
  img {
    height: 19px;
  }
}

.up-btn-login {
  margin-left: auto;
}

.up-drawer {
  width: 250px;
  flex: initial;

  ul li div {
    flex: none;
  }
}
