@import "vars";

.up-nav {
  color: #FFF !important;
  height: $nav-height !important;
  min-height: $nav-height !important;
  padding: $padding-std !important;
  background-color: #263238 !important;
  display: flex;
  position: relative;
  align-items: center;

  button {
    flex: 0 0 auto;
    width: 48px;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    height: 48px;
    display: inline-flex;
    padding: 0;
    font-size: 24px;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0.0, 0.2, 1) 0ms;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background-color: transparent;
  }
}

.up-brand {
  margin-top: 8px;
  margin-left: 4px;
  cursor: pointer;

  img {
    height: 19px;
  }
}

.up-nav__toggle {
  border: 0;
  outline: 0;
  color: #FFF;
  background-color: transparent;
}

.up-btn-login {
  margin-left: auto;
}

.up-drawer {
  width: 250px;
  flex: initial;

  ul li div {
    flex: none;
  }
}
