@import "vars";
@import "mixins";

.up-nav-wrapper {
  color: #FFF !important;
  height: $nav-height !important;
  min-height: $nav-height !important;
  display: flex;
  align-items: center;
  background-color: $color-secondary !important;

  .right {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .left {
    margin-left: 190px;
    display: flex;
    align-items: center;
  }
}

.brand-logo {
  height: 26px;
  margin-left: ($padding-std * 2);

  @include media-xs {
    margin-left: 0;
  }

  img {
    height: 100%;
  }
}

.up-brand {
  margin-top: 8px;
  margin-left: 4px;
  cursor: pointer;

  img {
    height: 19px;
  }
}

.up-nav__user {
  a {
    display: flex;
    align-items: center;
    padding: 4px ($padding-std * 2);
  }

  .up-avatar {
    height: 30px;
    margin-top: 4px;
  }

  span {
    margin-left: $padding-std;
  }
}

nav ul a {
  text-transform: uppercase;
  padding: 12px ($padding-std * 2);

  &:hover,
  &.up-active {
    background-color: lighten($color-secondary, 5%);
  }
}

.up-nav {
  color: #FFF !important;
  height: $nav-height !important;
  min-height: $nav-height !important;
  padding: $padding-std !important;
  display: flex;
  text-align: left;
  position: relative;
  align-items: center;
  z-index: 3;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.up-nav--video {
  position: relative;
  margin-top: -$nav-height !important;
  margin-left: 100%;

  .up-badge {
    margin-left: -12px;
  }
}

.up-nav__toggle {
  flex: 0 0 auto;
  width: 48px;
  cursor: pointer;
  color: #FFF;
  border: 0;
  outline: 0;
  height: 48px;
  display: inline-flex;
  padding: 0;
  font-size: 24px;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0.0, 0.2, 1) 0ms;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  background-color: transparent;

  &:focus {
    background-color: transparent;
  }

  .material-icons {
    font-size: inherit;
    line-height: inherit;
    height: auto;
  }
}

.up-nav__video-controls {
  margin-left: auto;

  button {
    width: 38px !important;
  }
}

.up-btn-login {
  margin-left: auto;
}

.up-room-drawer {
  width: $drawer-width;
  flex: initial;

  ul li div {
    flex: none;
  }
}
