@import "vars";

.up-nav {
  color: #FFF !important;
  height: $nav-height !important;
  min-height: $nav-height !important;
  padding: $padding-std !important;
  background-color: #263238 !important;
}

.up-brand {
  margin-top: 8px;
  margin-left: 4px;

  img {
    height: 19px;
  }
}

.up-btn-login {
  margin-left: auto;
}

.up-drawer {
  width: 250px;
  flex: initial;

  ul li div {
    flex: none;
  }
}
