@import "vars";

.up-paper-container {
  margin: $padding-std !important;
  background-color: $card-bg-color !important;
  border-radius: $border-radius-sm;
  transition: all .3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.up-paper-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
