@import "vars";

.up-playlist {

  .up-card {
    height: 255px;
    width: 100%;
    padding: 0;
  }
}

.up-playlist__body {
  padding: $padding-std * 2;
}

.up-playlist__thumb {
  width: 100%;
  margin-bottom: 0.5rem;
}

.up-playlist__title {
  font-size: 0.9rem;
  font-weight: 500;
  height: 2rem;
  overflow: hidden;
  margin-bottom: $padding-std;
}
