@import "vars";

.up-playlist {

}

.up-playlist__body {
  padding: $padding-std * 2;
}

.up-playlist__thumb {
  width: 100%;
  height: 120px;
  overflow: hidden;
  display: block;

  img {
    width: 100%;
    margin: -23px 0;
  }
}

.up-playlist__title {
  font-size: 1.1rem;
  font-weight: 500;
  height: 2.6rem;
  overflow: hidden;
  line-height: 1.3rem;
  margin-bottom: $padding-std;
}

