.up-profile {
	position: absolute;
	top: 0;
	padding-top: 42px;
	display:flex;
	flex-direction:row;
	height: 100%;

	@media (max-width: #{$break-sm - 1px}) {
		flex-direction: column;
	}
}
.up-profile__bio {
	background: #0a4c76;
	min-width:35%;
	display: flex;
	flex-direction: column;
	box-shadow: 2px 0 2px rgba(0, 0, 0, 0.25);
}
.up-profile__bio__user {
	width:100%;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	@include media-sm {
		flex-flow: column;
	}
}
.up-profile__bio__user__name {
	font-size: 2em;
}
.up-profile__bio__user__picture {
	width:100%;
	height:100%;
	max-width: 30vh;
	max-height: 30vh;
}
.up-profile__bio__text{
	padding: 1em .5em;
}


.up-profile__playlist {
	padding: 1em;
	flex-grow: 3;
	min-width: 65%;
	display: flex;
	flex-direction: column;
}
