@import "vars";
@import "mixins";

.up-profile__bio {
	padding-top: $padding-std * 2;

	.up-avatar {
	margin-bottom: -50px;
	margin-left: .5rem;
	max-width: 200px;

		@include media-xs {
			margin: 0 auto -50px auto;
			display: block;
		}
	}

	.up-username {
	font-size: 1.5em;
	padding: 3.5rem .5rem .5rem;
	background: $color-secondary;

		@include media-xs {
			text-align: center;
		}
	}
}

.up-profile__bio__text {
	padding: .5rem;
	height: 100%;
	word-wrap: break-word;
	background: $color-secondary;
	border-top: 1px solid darken($color-secondary, 5%);
}

.up-profile__timeline {
	padding-top: $padding-std * 2;
}
