.up-profile {
	display:flex;
	flex-direction:row;
	height: calc(100vh-50px);
}
.up-profile__bio {
	background: #0a4c76;
	flex-grow: 1;
	min-width:35%;
	display: flex;
	flex-direction: column;
}
.up-profile__bio__user {
	width:100%;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	@include media-sm {
		flex-flow: column;
	}
}
.up-profile__bio__user__name {
	font-size: 2em;
}
.up-profile__bio__user__picture {
	width:100%;
	height:100%;
	max-width: 30vh;
	max-height: 30vh;
}
.up-profile__bio__text{
	padding-top: 1em;
}
.up-profile__playlist {
	padding: 1em;
	flex-grow: 3;
	min-width: 65%;
	display: flex;
	flex-direction: column;
}
