.up-profile {
	display:flex;
	flex-direction:row;
  flex: 1 0 auto;

	@media (max-width: #{$break-sm - 1px}) {
		flex-direction: column;
	}

	.row {
	  margin-bottom: -16px;
	}
}
.up-profile__bio {
	min-width:35%;
	max-width:35%;
	display: flex;
	flex-direction: column;
	box-shadow: 2px 0 2px rgba(0, 0, 0, 0.25);

	@media (max-width: #{$break-sm - 1px}) {
		flex-shrink: 0;
		max-width: 100%;
	}
}
.up-profile__bio__user {
	width:100%;
	display: flex;
	flex-flow: column;
	flex-shrink: 0;
}
.up-profile__bio__user__name {
	font-size: 1.5em;
	padding: .5rem;
	padding-top: 3.5rem;
	background: #0a4c76;
	text-overflow: ellipsis;
	overflow: hidden;
}
.up-profile__bio__user__picture {
	padding-bottom: 35%;
	width: 35%;
	overflow: hidden;
	position: relative;
	bottom: -3rem;
	padding: .5rem;
	border-radius: 100%;
}
.up-profile__bio__text{
	padding: .5rem;
	background: #0a4c76;
	word-wrap: break-word;
	border-top: 1px solid #083d5e;
	height: 100%
}


.up-profile__playlist {
	display: flex;
	flex-wrap: wrap;
}
.up-profile__playlist > div {
	flex: 1 0 20vw;
	margin: 0 .5rem;
	@media (min-width: break-sm) {
		max-width: 30vw;
	}
}
