@import "vars";
@import "mixins";

.up-room {
  display: flex;
  flex-flow: column;
  height: calc(100% - #{$nav-height});

  @include media-lg {
    flex-flow: row !important;
  }
}

.up-room__chat {
  width: 100%;
  height: 100%;
  display: flex;
}

.up-room__chat__users {
  max-width: 20%;
  flex-grow: 2 !important;
  overflow: hidden !important;
  background-color: #383D4B;
  padding-top: 0 !important;

  @include media-xs {
    max-width: 58px;
  }

  li {
    padding: ($padding-std / 2) $padding-std !important;
  }

  .up-avatar {
    width: 40px !important;
    height: 40px !important;

    @include media-xs {
      width: 100% !important;
      height: auto !important;
    }
  }

  .up-username {
    @include media-xs {
      display: none;
    }
  }
}

.up-room__chat__messages-container {
  display: flex;
  flex-flow: column;
  flex-grow: 3 !important;
}

.up-room__chat__messages {
  padding: $padding-std !important;
}

.up-room-message {
  padding: ($padding-std / 2) $padding-std !important;
  align-items: flex-start !important;

  &:hover {
    background-color: #444;
  }

  .up-room-user {
    min-width: 115px;
  }

  .up-avatar {
    width: 30px !important;
    height: 30px !important;
  }
}

.up-room-message__message {
  display: block;
  text-align: left;
  line-height: 1.2rem;
  padding: $padding-std 0;

  a {
    color: $color-primary;
    cursor: pointer;
  }

  img {
    max-width: 200px;
    max-height: 100px;
    vertical-align: top;
  }
}

.up-room-message__date {
  color: #808080;
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-right: $padding-std * 2;
}

.up-room__chat__input {
  display: flex;
  padding: $padding-std * 2;
  justify-content: space-between;
  border-top: 1px solid #3a3a3a;
  min-height: 65px;

  input {
    width: 100%;
    flex-grow: 1;
    outline: 0;
    border: 0;
    color: $color-fg;
    font-size: 1rem;
    padding: 0 $padding-std * 2;
    background-color: $color-bg;
    border-radius: $border-radius-sm;
  }

  button {
    color: $color-dim;

    &:hover {
      color: $color-fg;
    }
  }
}

.up-room__video {
  height: 100%;
  padding-right: $padding-std;
  padding-left: $padding-std;
  display: flex;
  flex-direction: column;
}

.up-room__video > span {
  margin: $padding-std 0;
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  border-radius: $border-radius-sm;
}

.up-room__video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.up-room__video-buttons {
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 48px;
}

.up-room__playlist {
  padding: $padding-std;
  margin-left: 0 !important;
  margin-right: 0 !important;
  flex-grow: 1;
  min-height: 16em;
}

.up-room-user {
  display: flex;
  align-items: center;

  .up-avatar {
    margin-right: $padding-std * 2;
  }
}
