@import "vars";

.up-room {
  display: flex;
  flex-flow: column;
  height: calc(100% - 42px);

  @media (min-width: 960px) {
    flex-flow: row!important;
  }
}

.up-room__chat {
  width: 100%;
  height: 100%;
  display: flex;
}

.up-room__chat__users {
  //border: 1px solid red;
  width: 15% !important;
  flex-grow: 1 !important;
  padding: 0 !important;

  li {
    padding: ($padding-std / 2) $padding-std !important;
  }

  .up-avatar {
    width: 1.25rem !important;
    height: 1.25rem !important;
  }
}



.up-room__chat__messages-container {
  //border: 1px solid green;
  display: flex;
  flex-flow: column;
  flex-grow: 4;
}

.up-room__chat__messages {
  //border: 1px solid yellow;
  flex-grow: 4;
}

.up-room-message {
  padding: ($padding-std / 2) $padding-std !important;

  .up-room-user {
    min-width: 120px;
  }

  .up-avatar {
    width: 1.25rem !important;
    height: 1.25rem !important;
  }

  .up-room-message__message {

  }
}

.up-room__chat__input {
  //border: 1px solid blue;
  flex-grow: 1;
  max-height: 40px;

  input {
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    color: #FFF;
    padding: 0 $padding-std;
    background-color: transparent;
  }
}

.up-room__video {
  //border: 1px solid purple;
  height: 100%;
  padding-right: 8px;
}

.up-room__video-buttons {
  border: 1px solid cyan;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: $padding-std;
}

.up-room__playlist {
	border: 1px solid brown;
  padding: $padding-std;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.up-room-user {
  display: flex;
  align-items: center;

  .up-avatar {
    margin-right: $padding-std;
  }
}
