@import "vars";
@import "mixins";

$width-panel-users: 20%;
$width-panel-users-collapsed: 56px;
$width-avatar: 40px;
$width-avatar-collapsed: 100%;
$height-avatar: 40px;
$height-avatar-collapsed: auto;

/******************************************************************************
 * Room
 *****************************************************************************/
.up-room {
  display: flex;
  flex-flow: row;
  height: calc(100% - #{$nav-height});

// fix for small width desktop layout issues i'm not supposed to commit
//  @include media-sm {flex-flow:column;}
}

/******************************************************************************
 * Sides
 *****************************************************************************/
.up-room-side__chat {
  width: 100%;
  height: 100%;
  display: flex;
}

.up-room-side__video {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: $padding-std;

  @include media-xs {
    padding-right: 0;
  }
}

/******************************************************************************
 * Panels
 *****************************************************************************/
.up-room-panel__users {
  z-index: 2;
  position: relative;
  max-width: $width-panel-users;
  flex-grow: 2 !important;
  overflow: hidden !important;
  background-color: $color-secondary;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.25);
  transition: max-width .3s cubic-bezier(.25,.8,.25,1);

  &, & > ul {
    overflow: hidden;
  }

  &.up-collapsed {
    max-width: $width-panel-users-collapsed;

    .up-username {
      opacity: 0;
    }
  }

  @include media-xs {
    max-width: $width-panel-users-collapsed;
  }

  ul {
    padding-top: 0 !important;
  }

  li {
    padding: ($padding-std / 2) $padding-std !important;
  }

  li.up-active {
    background-color: darken($color-secondary, 5%);
  }

  .up-avatar {
    width: $width-avatar !important;
    height: $height-avatar !important;

    @include media-xs {
      width: $width-avatar-collapsed !important;
      height: $height-avatar-collapsed !important;
    }
  }

  .up-room-thumb {
    padding: $padding-std $padding-std !important;
    background-color: $color-secondary-light !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);

    .up-avatar {
      border-radius: 0 !important;
    }
  }

  .up-username {
    transition: opacity 0.2s linear;

    @include media-xs {
      display: none;
    }
  }
}

.up-room-panel__messages {
  overflow-x: hidden !important; // @todo fix
  padding: $padding-std !important;

  @include media-xs {
    font-size: 0.9rem;
  }
}

/******************************************************************************
 * Messages
 *****************************************************************************/
.up-room-messages {
  display: flex;
  flex-flow: column;
  flex-grow: 3 !important;
}

.up-room-messages__input {
  display: flex;
  padding: $padding-std * 2;
  justify-content: space-between;
  border-top: 1px solid #3a3a3a;
  min-height: 65px;

  input {
    width: 100%;
    flex-grow: 1;
    outline: 0;
    border: 0;
    color: $color-fg;
    font-size: 1rem;
    padding: 0 $padding-std * 2;
    background-color: $color-bg;
    border-radius: $border-radius-sm;
  }

  button {
    color: $color-dim;

    &:hover {
      color: $color-fg;
    }
  }
}

.up-room-message {
  padding-left: $padding-std;
  padding-top: $padding-std / 2;
  padding-bottom: $padding-std / 2;

  &:hover {
    background-color: #292929;
  }
}

.up-room-message__user {
  display: flex;
  align-items: center;

  .up-avatar,
  .up-username {
    margin-right: $padding-std;
  }

  .up-avatar {
    cursor: pointer;
    width: 30px !important;
    height: 30px !important;
  }

  .up-username {
    font-weight: 500;
  }
}

.up-room-message__date {
  font-size: 0.8rem;
  color: $color-dim;
}

.up-room-message__body {
  text-align: left;
  padding-left: 30px + $padding-std;
  padding-top: $padding-std / 2;

  a {
    color: $color-primary;
    cursor: pointer;
  }

  img {
    max-width: 100px;
    max-height: 80px;
    vertical-align: top;
  }
}

.up-room-notice {
  @extend .up-room-message;
  padding-left: 30px + $padding-std + $padding-std;
  padding-top: $padding-std;

  color: darken($color-primary, 20%);
  font-size: 0.8rem;
}

/******************************************************************************
 * Video
 *****************************************************************************/
.up-room-video__container {
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
}

.up-room-video__player {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.up-room-video__buttons {
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 48px;
  background: $color-secondary;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.up-room-video__playlist {
  padding: $padding-std;
  margin-left: 0 !important;
  margin-right: 0 !important;
  flex-grow: 1;
  min-height: 16em;
}

/******************************************************************************
 * Users
 *****************************************************************************/
.up-room-users__details {
  width: 100%;
  padding: 4px 0 !important;

  button {
    width: 100%;
    justify-content: flex-start !important;
  }
}

.up-room-users__controls {
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 76px;
  position: absolute;
  background-color: $color-secondary-light !important;

  .up-collapse {
    position: absolute;
    bottom: 10px;
    left: 6px;
  }

  .up-collapse__icon {
    transition: transform .3s cubic-bezier(.25,.8,.25,1);

    &.up-collapsed {
      transform: rotate(-180deg);
    }
  }
}

.up-room-user {
  min-height: 40px;
  display: flex;
  align-items: center;

  .up-avatar {
    margin-right: $padding-std * 2;
  }

  .up-badge {
    margin-left: auto;
    background-color: lighten($color-secondary, 15%);
  }
}
