@import "vars";
@import "mixins";

$width-panel-users: 20%;
$width-panel-users-collapsed: 58px;
$width-avatar: 40px;
$width-avatar-collapsed: 100%;
$height-avatar: 40px;
$height-avatar-collapsed: auto;

/******************************************************************************
 * Room
 *****************************************************************************/
.up-room {
  display: flex;
  flex-flow: row;
  height: calc(100% - #{$nav-height});
}

/******************************************************************************
 * Sides
 *****************************************************************************/
.up-room-side__chat {
  width: 100%;
  height: 100%;
  display: flex;
}

.up-room-side__video {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: $padding-std;

  @include media-xs {
    padding-right: 0;
  }
}

/******************************************************************************
 * Panels
 *****************************************************************************/
.up-room-panel__users {
  z-index: 2;
  position: relative;
  max-width: $width-panel-users;
  flex-grow: 2 !important;
  overflow: hidden !important;
  background-color: $color-room-primary;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.25);

  &.up-collapsed {
    max-width: $width-panel-users-collapsed;

    .up-username {
      display: none;
    }

    .up-avatar {
      width: $width-avatar-collapsed !important;
      height: $height-avatar-collapsed !important;
    }
  }

  @include media-xs {
    max-width: $width-panel-users-collapsed;
  }

  ul {
    padding-top: 0 !important;
  }

  li {
    padding: ($padding-std / 2) $padding-std !important;
  }

  .up-avatar {
    width: $width-avatar !important;
    height: $height-avatar !important;

    @include media-xs {
      width: $width-avatar-collapsed !important;
      height: $height-avatar-collapsed !important;
    }
  }

  .up-username {
    @include media-xs {
      display: none;
    }
  }

  .up-collapse {
    position: absolute;
    bottom: 10px;
    left: 6px;
  }
}

.up-room-panel__messages {
  overflow-x: hidden !important; // @todo fix

  @include media-xs {
    font-size: 0.9rem;
  }
}

/******************************************************************************
 * Messages
 *****************************************************************************/
.up-room-messages {
  display: flex;
  flex-flow: column;
  flex-grow: 3 !important;
}

.up-room-messages__input {
  display: flex;
  padding: $padding-std * 2;
  justify-content: space-between;
  border-top: 1px solid #3a3a3a;
  min-height: 65px;

  input {
    width: 100%;
    flex-grow: 1;
    outline: 0;
    border: 0;
    color: $color-fg;
    font-size: 1rem;
    padding: 0 $padding-std * 2;
    background-color: $color-bg;
    border-radius: $border-radius-sm;
  }

  button {
    color: $color-dim;

    &:hover {
      color: $color-fg;
    }
  }
}

.up-room-message {
  padding: ($padding-std / 2) $padding-std !important;
  align-items: flex-start !important;

  &:hover {
    background-color: #444;
  }

  .up-room-user {
    min-width: 115px;
  }

  .up-avatar {
    width: 30px !important;
    height: 30px !important;
  }
}

.up-room-message__body {
  display: block;
  text-align: left;
  line-height: 1.2rem;
  padding: $padding-std 0;

  a {
    color: $color-primary;
    cursor: pointer;
  }

  img {
    max-width: 200px;
    max-height: 100px;
    vertical-align: top;
  }
}

.up-room-message__date {
  color: #808080;
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-right: $padding-std * 2;
}

/******************************************************************************
 * Video
 *****************************************************************************/
.up-room-video__container {
  height: 100%;
  margin: $padding-std 0;
  position: relative;
  padding-bottom: 56.25%;

  & > span {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.up-room-video__player {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.up-room-video__buttons {
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 48px;
}

.up-room-video__playlist {
  padding: $padding-std;
  margin-left: 0 !important;
  margin-right: 0 !important;
  flex-grow: 1;
  min-height: 16em;
}

/******************************************************************************
 * Users
 *****************************************************************************/
.up-room-user {
  display: flex;
  align-items: center;

  .up-avatar {
    margin-right: $padding-std * 2;
  }
}
