@import "vars";

.up-room {
  display: flex;
  flex-flow: column;
  height: calc(100% - ( #{$nav-height} + ( #{$padding-std} * 2 )));
  margin: $padding-std;

  @media (min-width: $break-lg) {
    flex-flow: row !important;
  }
}

.up-room > div{
  height: calc(100vh - ( #{$nav-height} + ( #{$padding-std} * 2 )));
}

.up-room__chat {
  width: 100%;
  height: 100%;
  display: flex;
}

.up-room__chat__users {
  //border: 1px solid red;
  flex-grow: 2 !important;
  padding: 0 !important;
  overflow: hidden !important;
  min-width: 15%;

  li {
    padding: ($padding-std / 2) $padding-std !important;
  }

  .up-avatar {
    width: 1.25rem !important;
    height: 1.25rem !important;
  }
}

.up-room__chat__messages-container {
  //border: 1px solid green;
  display: flex;
  flex-flow: column;
  flex-grow: 3 !important;
}

.up-room__chat__messages {
  //border: 1px solid yellow;
  padding: 0 !important;
}

.up-room-message {
  padding: ($padding-std / 2) $padding-std !important;
  align-items: flex-start !important;

  &:hover {
    background-color: #444;
  }

  .up-room-user {
    min-width: 115px;
  }

  .up-avatar {
    width: 30px !important;
    height: 30px !important;
  }
}

.up-room-message__message {
  display: block;
  text-align: left;
  line-height: 1.2rem;
  padding: $padding-std 0;
}

.up-room-message__date {
  color: #808080;
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-right: $padding-std * 2;
}

.up-room__chat__input {
  //border: 1px solid blue;
  display: flex;
  padding: $padding-std * 2;
  justify-content: space-between;
  border-top: 1px solid $color-bg;
  min-height: 65px;

  input {
    width: 100%;
    flex-grow: 1;
    outline: 0;
    border: 0;
    color: $color-fg;
    font-size: 1rem;
    padding: 0 $padding-std * 2;
    background-color: $color-bg;
    border-radius: $border-radius-sm;
  }

  button {
    color: $color-dim;

    &:hover {
      color: $color-fg;
    }
  }
}

.up-room__video {
  //border: 1px solid purple;
  height: 100%;
  padding-right: $padding-std;
  padding-left: $padding-std;
  display: flex;
  flex-direction: column;
}

.up-room__video > span {
  margin: $padding-std 0;
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  border-radius: $border-radius-sm;
}

.up-room__video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.up-room__video-buttons {
  //border: 1px solid cyan;
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 48px;
}

.up-room__playlist {
  //border: 1px solid brown;
  padding: $padding-std;
  margin-left: 0 !important;
  margin-right: 0 !important;
  flex-grow: 1;
  min-height: 16em;
}

.up-room-user {
  display: flex;
  align-items: center;

  .up-avatar {
    margin-right: $padding-std * 2;
  }
}
