@import "vars";

.up-text--left {
  text-align: left !important;
}

.up-text--right {
  text-align: right !important;
}

.up-text--center {
  text-align: center !important;
}

.up-center-page {
  display: flex;
  height: calc(100% - #{$nav-height});
  justify-content: center;
  align-items: center;
}
