$break-xs: 384px;
$break-sm: 576px;
$break-md: 769px;
$break-lg: 992px;
$break-xl: 1200px;

$padding-std: 4px;
$border-radius-sm: 2px;
$nav-height: 42px;
$drawer-width: 250px;

$color-primary: #ffab40;
$color-dim: #999;
$color-fg: #FFF;
$color-bg: #222;
$color-error: red;

.up-error {
  color: $color-error !important;
}
