// Breakpoints
$break-xs: 320px;
$break-sm: 600px;
$break-md: 960px;
$break-lg: 1280px;
$break-xl: 1920px;

// Sizes
$padding-std: 8px;
$border-radius-sm: 2px;
$nav-height: 42px;
$drawer-width: 250px;

$icon-size-sm: 18px;
$icon-size-md: 25px;
$icon-size-lg: 36px;
$icon-size-xl: 48px;

// Colors
$color-primary: #ffab40;
$color-secondary: #0A4C76;
$color-dim: #999;
$color-fg: #FFF;
$color-bg: #222;
$color-modal-bg: #383535;
$color-nav-bg: #263238;
$color-error: red;

.up-error {
  color: $color-error !important;
}

// Shadows
$shadow-inset: inset 0 2px 2px 0 rgba(0,0,0,.14);
$shadow-0: 0 0 1px rgba(0, 0, 0, 0);
$shadow-2: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
$shadow-3: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
$shadow-4: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
$shadow-6: 0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12),0 3px 5px -1px rgba(0,0,0,.2);
$shadow-8: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);

