@import "vars";
@import "mixins";

@import "../../../node_modules/materialize-css/sass/components/color";

$primary-color: $color-secondary;
$secondary-color: $color-primary;
$card-bg-color: $color-secondary;
$button-flat-color: #FFF;

@import "../../../node_modules/materialize-css/sass/materialize";

.card-title {
  max-height: 62px;
  overflow: hidden;
}

.up-playlist-card {
  .card-title {
    height: 62px;
    overflow: hidden;
  }

  small {
    display: block;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
}

.btn-flat:hover {
  background-color: transparent !important;
}

.up-pagination-container {
  small {
    display: block;
    padding-bottom: $padding-std;
    font-size: 0.9rem;
  }
}

.pagination {
  a:hover {
    color: #666;
  }
}

.page-footer {
  margin-top: $padding-std * 4;
  background-color: #2d2d2d;

  h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
  }

  .up-logo {
    height: 32px;
    margin: ($padding-std * 2) 0;
  }
}

.footer-copyright {
  width: 100% !important;
  text-align: center;
  text-transform: uppercase;
  background-color: #353535 !important;
}
