<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                <img src="{{ asset('images/logo-xs.png') }}" class="up-logo" />
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="{{ path("about") }}">
                            About
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">
                            Help
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="{{ path("contact") }}">
                            Contact
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">
                            Terms of Service
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2017 UpNext.fm
        </div>
    </div>
</footer>
