<nav class="up-nav">
    <button id="up-nav-toggle" class="up-nav__toggle" data-activates="slide-out">
        <i class="material-icons">menu</i>
    </button>
    <a href="/" class="up-brand">
        <img src="{{ asset('images/logo-brand.png') }}" />
    </a>
    <div style="margin-left: auto">
        {% if app.user %}
            <a href="{{ path("fos_user_security_logout") }}" class="btn btn-flat">Logout</a>
        {% elseif not app.user %}
            <a href="{{ path("fos_user_security_login") }}" class="btn btn-flat">Login</a>
        {% endif %}
    </div>
</nav>
{% include ":_layout:drawer.html.twig" %}
