<nav class="up-nav">
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="up-brand">
        <img src="{{ asset('images/logo-brand.png') }}" />
    </a>
    <div class="collapse navbar-collapse">

    </div>
</nav>
