<nav class="up-nav">
    <button class="up-nav__toggle">
        <i class="material-icons">menu</i>
    </button>
    <a href="/" class="up-brand">
        <img src="{{ asset('images/logo-brand.png') }}" />
    </a>
    <div class="collapse navbar-collapse">

    </div>
</nav>
