{% extends "base.html.twig" %}
{% block title %}{{ user.username }}{% endblock %}
{% block body %}
    <div class="up-profile up-container">
        <div class="up-grid up-grid--gutter">
            <div class="up-col">
                Bio
            </div>
            <div class="up-col">
                Playlist
            </div>
        </div>
    </div>
{% endblock %}
