/.web-server-pid
/app/config/parameters.yml
/app/config/parameters_dev.yml
/build/
/web/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/var/jwt
/vendor/
/web/bundles/
/node_modules
/.idea
/.cache
