{% import "::macros.htm.twig" as macros %}
{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        {% for played in playedRecently %}
            {{ macros.playedCard(played) }}
        {% endfor %}
    </div>
{% endblock %}
