{% extends "base.html.twig" %}
{% block body %}
    <img id=logo src=/images/logo.png style=width:90%>
    <h1>We Are Under Construction</h1>
    <h2>Returning Soon&trade;</h2>
    <h4>
        <a href="/chat">Chat here</a>
    </h4>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src=https://cdn.rawgit.com/namuol/cheet.js/master/cheet.min.js></script>
    <script>
        cheet("U U D D L R L R b a", function() {
            document.getElementById("logo").src="/images/logo_pn.png"
        });
    </script>
{% endblock %}
