{% extends "AppBundle::base.html.twig" %}
{% block body %}
    <div class="up-construction up-center-page up-text--center">
        <div>
            <img id=logo src=/images/logo-sm.png />
            <p>Returning October 15th-ish 2017</p>
            <p>
                <a href="/r/lobby">Chat</a>  &middot;
                <a href="/contact">Contact</a> &middot;
                <a href="https://www.reddit.com/r/upnextfm">Reddit</a>
            </p>
        </div>
    </div>
{% endblock %}
