{% extends "AppBundle::base.html.twig" %}
{% block title %}Help{% endblock %}
{% block body %}
    <div class="container up-container--narrow up-main up-legal">
        <h1 class="up-page-title">Terms of Service</h1>
        <p>
            By visiting Upnext.fm (https://upnext.fm), you agree to the following user agreement.
        </p>
        <h3 class="up-page-title">Legal Stuff</h3>
        <p>
            All content and activity this website must comply with United States law, and where applicable,
            local laws. Prohibited content and activities include, but are not limited to:
        </p>
        <ul>
            <li>
                <ul>
                    <li>Child pornography</li>
                    <li>Warez</li>
                    <li>Copyright infringement</li>
                    <li>Blackmail, slander, or other defamatory statements</li>
                    <li>Phishing</li>
                </ul>
            </li>
        </ul>
        <p>
            Content on Upnext.fm is provided "as-is". Upnext.fm makes no warranties, express or implied,
            and hereby disclaims and negates all other warranties, including, without limitation, implied
            warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement
            of intellectual property or other violation of rights.  Furthermore, Upnext.fm does not make any
            representations concerning the accuracy or reliability of content present on Upnext.fm.
        </p>
        <p>
            Upnext.fm permits users to share links, embedded content, or other content insofar as the shared
            content complies with this user agreement, United States law, and where applicable, local laws.
            Upnext.fm is not responsible for the content shared, or any consequences of sharing such content.
            Upnext.fm does not endorse any user-provided content.  Viewing shared content is done at the
            user's own risk.
        </p>

        <h3 class="up-page-title">General Rules</h3>
        <p>
            While moderation is largely left to the discretion of room moderators and administrators,
            the following rules apply globally and must be observed at all times on the site.  Failure to
            comply with these rules may result in temporary or permanent removal of your user account from the website.
        </p>
        <ul>
            <li>
                Trolling, spamming, or otherwise intentionally disrupting any room is not allowed
            </li>
            <li>
                Bullying or otherwise intending to hurt other users is not allowed
            </li>
            <li>
                Attempting to exploit the site in order to gain unauthorized access or interrupt service is not
                allowed.  If you believe you have found an exploit, please responsibly disclose it to an administrator.
            </li>
            <li>
                Use good judgement when representing Upnext.fm on other websites. Do not spam links to your room.
            </li>
            <li>
                You must be 13+ years old to use this site.
            </li>
        </ul>
    </div>
{% endblock %}
