{% extends "AppBundle::base.html.twig" %}
{% block title %}Registered!{% endblock %}
{% block body %}
<div class="container up-container--narrow up-center-page">
    <p class="center-align flow-text">
        Thanks for registering, {{ user.username }}. You are logged in now.
    </p>
</div>
{% endblock %}
