{% extends "AppBundle::base.html.twig" %} {% block title %}25 Most Upvoted Videos{% endblock %} {% block body %}
<div class="container">
    <h2 class="center-align up-page-title flow-text">
        Most Upvoted - All Time
    </h2>


    <ul>
    	{% for vote in votes %}
    			<li>{{ vote.video.title }} - {{ vote.value }} votes </li>
    	{% endfor %}
    </ul>

</div> {% endblock %}