{% extends 'base.html.twig' %}
{% block title %}{{ name }}{% endblock %}
{% block body %}
    <div id="mount" data-room="{{ name }}">
        <!-- <div style="display:flex;align-items:center;justify-content:center;"> -->
        <div class="loader">
          <svg class="circular">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
          </svg>
        </div>
        <!-- </div> -->
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/room.js') }}"></script>
{% endblock %}
