{% extends 'base.html.twig' %}
{% block title %}{{ name }}{% endblock %}
{% block body %}
    <div id="mount" data-room="{{ name }}"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/room.js') }}"></script>
{% endblock %}
