{% extends "base.html.twig" %}
{% block title %}About{% endblock %}
{% block body %}
    <h2 class="center-align up-page-title flow-text">
        About Us
    </h2>
    <div class="up-main container up-container--narrow" style="text-align: justify; font-size: 18px;">
        UpNext is your community jukebox.
        We're a group of strangers who met each other through internet chatrooms (reddit.com/r/joinrobin) and
        found shared common interests through sharing and listening to music together in real time. Our music
        channels are a melting pot of different genres and sounds from all over the world that reflect our diverse
        userbase. Join us for a fun and unique listening experience by sharing your songs on the playlist or
        spamming your favorite custom emotes in chat; upnext.fm is a close-knit community where everyone and
        every sound is welcome :)
    </div>
{% endblock %}
