{% extends "base.html.twig" %}
{% block body %}
    <div class="up-container">
        <div class="up-grid up-grid--gutter up-playlist">
        {% for video in playedRecently %}
            <div class="up-col up-col-6">
                <div class="up-card up-card-1">
                    {{ video.video.title }}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
