{% extends "AppBundle::base.html.twig" %} {% block title %}Account{% endblock %} {% block body %}
<h2 class="center-align up-page-title flow-text">
        Account
    </h2> {% include "AppBundle:_layout:flash-messages.html.twig" %}
<form method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="input-field col s6">
                <input id="password" name="password" type="password" class="validate" autocomplete="off" />
                <label for="password">Password</label>
            </div>
            <div class="input-field col s6">
                <input id="email" name="email" type="email" class="validate" value="{{ user.email }}" />
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="location" name="location" type="text" class="validate" />
                <label for="location">Location</label>
            </div>
            <div class="input-field col s6">
                <input id="website" name="website" type="text" class="validate" />
                <label for="website">Website</label>
            </div>
            <!-- End second form row -->
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="bio" class="up-biotextarea materialize-textarea"></textarea>
                <label for="bio">Bio Profile</label>
            </div>
        </div>
        <div class="row">
            <div class="file-field input-field col s6">
                <div class="btn"> <span>Select Avatar Image</span>
                    <input id="avatar" type="file" name="avatar" accept="image/*" /> </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" /> </div>
            </div>
            <!-- End avatar upload -->
        </div>
        <!-- End third form row -->
        
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#trigger">Save Changes</a>
        <div id="trigger" class="modal up-modal">
            <div class="modal-content">
                <p>Are you sure you want to save changes?</p>
            </div>
            <!-- Submit Button -->
            <div class="modal-footer">  <button type="submit" class="waves-effect waves-light btn">Accept</button> </div>
        </div>
    </div>
    <!-- End container -->
</form> {% endblock %}