{% import "AppBundle::macros.html.twig" as macros %}
{% extends "AppBundle::base.html.twig" %}
{% block title %}{{ user.username }}'s Favorites{% endblock %}
{% block body %}
    <div class="up-main">
        Favorites
    </div>
{% endblock %}
